@font-face {
    font-family: "Chicago";
    src: url("ChicagoFLF.ttf"); /* url of the font */
}

:root {
    --color-bg: #245695;
    --color-fg: #da4956;
    --color-text: #fff;
}

@keyframes bg-animation {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: 64px 64px;
    }
}

body {
    /* background-color: var(--color-bg); */
    background-color: #fef3e5;
    background-image: url("smile_transparent.png");
    background-size: 64px 64px;
    font-family: "Chicago";
    animation: bg-animation 1.75s linear infinite;
    font-size: 12px;
}

button {
    background: var(--color-fg);
    color: var(--color-text);
    font-family: inherit;
    border: 3px outset var(--color-fg);
    padding: 12px;
    margin: 5px;
    /* border-radius: 20px; */
}
.control {
    padding: 0px;
    padding-top: -5px;
    width: 48px;
    height: 48px;
    line-height: 24px;
    font-size: 30px;
}

canvas {
    background-color: red;
    /* background-color: #ffffff0b; */
}


@keyframes glob-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}
#glob {
    width: 240px;
    animation: glob-animation 0.5s steps(1) infinite;
}
#shopping-start {
    text-align: center;
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -60%);
}
#controller {
    background: var(--color-fg);
    color: var(--color-text);
    border: 3px outset var(--color-fg);

    white-space: nowrap;
    padding: 5px;
    width: fit-content;
    text-align: center;
    position: fixed;
    left: 50vw;
    bottom: 120px;
    transform: translateX(-50%);
}
#game-panel {
    width: calc(100vw - 20px);
    height: calc(100vw - 20px);
}
#choices {
    width: calc(100vw - 20px);
}